<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="en">
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="static/style.css" />
</head>
<body>
	<div id="nav">
		<a href="/login" th:if="${!loggedIn}">Login</a>
		<a href="/register" th:if="${!loggedIn}">Register</a>
		<a href="/profile" th:if="${loggedIn}">[[${name}]]</a>
		<a href="/logout" th:if="${loggedIn}">Logout</a>
	</div>
	<div id="content">
		<div id="screenshot"></div>
		<div id="rating"></div>
		<div id="rate"></div>
		<h1 id="screenshotTitle"></h1>
		<div id="comments"></div>
	</div>


	<script src="static/screenshot.js"></script>
	<script>
		setRandom();
	</script>
</body>
</html>
